html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('../images/bg-pattern.png');
}

.modal {
  padding: 1.8rem 2.16rem 0.9rem;
  width: 500px;
  height: 300px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.siema {
  width: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 480px;
  height: 300px;
}

.gumshoe-wrapper {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.box {
  padding-left: 125px;
}
#nav-menu {
  display: inline;
}

#nav-menu li.active a {
  font-weight: bold;
}

#nav-menu {
  position: fixed;
}

#nav-menu li.active {
  background-color: black;
}

#nav-menu li.active a {
  color: white;
}

/**
 * Sections
 */
.section {
  color: #ffffff;
  height: 500px;
  width: 300px;
  margin: 0;
  padding: 2em;
}

#eenie {
  background-color: #0088cc;
}

#meenie {
  background-color: rebeccapurple;
}

#miney {
  background-color: #272727;
}

#mo {
  background-color: #f42b37;
}
